.img-down{
	margin-top:65px;
}


.img-up{
	margin-top:-10px;
}

#gallery{
	display:inline-block;
	width:100%:;
	float:left;
}



#gallery img{
float:left;
display:inline-block;
width:25%;
}

#stick{
width:100%;
position:fixed;

}

#stick img{
	width:10%;
	position:fixed;
	bottom:0px;
	left:0px;
}