/*@font-face{
	font-family: 'OpenSans';
	url:('fonts/open-sans/OpenSans-Regular.ttf') format('truetype');
	url:('fonts/open-sans/OpenSans-Regular.woff') format('woff');
}
*/

.sidebar{
	width:70px;
}

.container-small{
  margin: 0 auto;
  max-width: 1400;
  width: 75%;
  margin-left:25%;
  }

*{
	font-family:'Lato';
}
nav ul a{
	color:#14b2c6;
}

nav ul a:hover{
	opacity:.4;
	transition: .3s;
}


.img-down{
	margin-top:65px;
}


.img-up{
	margin-top:-10px;
}

#gallery{
	display:inline-block;
	width:100%:;
	float:left;
}
/*
h3, h4{
	color:#14b2c6;
}*/
nav ul a .white-text{
	color:white;
}

nav .brand-logo{
color: #14b2c6;
font-size:40px;
}

nav{
	opacity:.9;
}

.abouttext{
	margin-top:55px;
}

.nav-wrapper{
	transition:.5s;
}
.altnav{
	border-bottom-color:black;
}

#gallery img{
float: left;
display:inline-block;
width:45%;
margin: 2px;
}

#gallery-wide img {
 width: 90%;
 float: left;
display:inline-block;

}

#stick{
width:100%;
position:fixed;

}

#stick img{
	width:10%;
	position:fixed;
	bottom:0px;
	left:0px;
}

.intro p{
	position:absolute;
}


.intro img, .about img, .projects img, .work img{
	width:100%;
	position: relative;
}


.about .text{
	left:20%;
	width:15%;
	position:absolute;
	z-index:1;

}

.projects .text{
	margin-top:40px;
	width:15%;
	left:60%;
	position:absolute;
	z-index:1;
}

.work .text{
	margin-top:40px;
	width:15%;
	left:20%;
	position:absolute;
	z-index:1;
}

a:hover{
	opacity:.4;
	transition: .3s;
}


.line img{
	width:100%;
}




.btn:hover {
	background-color:#14b2c6;
	color:white;
	box-shadow:none;
	opacity: .9;
}

.btn{
	background-color:white;
	color: #14b2c6;
	box-shadow:none;
}

a{
	color: #14b2c6;
}

/*.box{
	border-style: solid 1px;
}*/
.gallery{
	margin:20px;
}



.gallery ul a.dim:hover img {
    opacity: 0.7;
            
}

.gallery li img{
	display:inline-block;
	width:100%;
	/* vertical-align:middle; */
}

.gallery li img:hover{
	opacity:.6;
}

.padded{
	margin-top:20px;
	margin-bottom:20px;
}

#capital-one, #principal, #cmu, #green-america, #nist{
	height:50px;
}

.table-of-contents{
	margin-left:8%;
	margin-top:9%;
	position:fixed;
}


.table-of-contents a:hover{
	border-left: solid 1px #14b2c6;
}
.table-of-contents a.active{
	border-left: 2px solid #14b2c6;
}

.shift ul li{
	padding-right:20px;
}

html,body{
	margin-bottom:0px;
	padding-bottom: 0px;
}


