.img-down{
	margin-top:65px;
}


.img-up{
	margin-top:-10px;
}

#gallery{
	display:inline-block;
	width:100%:;
	float:left;
}

/*.intro, .about{
	position:absolute;

}*/


#gallery img{
float:left;
display:inline-block;
width:25%;
}

#stick{
width:100%;
position:fixed;

}

#stick img{
	width:10%;
	position:fixed;
	bottom:0px;
	left:0px;
}

.intro img{
	width:100%;
}

.line img{
	width:100%;
}

.about img{
	width:90%;
	float:right;
}


.btn:hover {
	background-color:#14b2c6;
	color:white;
	box-shadow:none;
}

.btn{
	background-color:white;
	color: #14b2c6;
	box-shadow:none;
}

a{
	color: #14b2c6;
}

/*.box{
	border-style: solid 1px;
}*/
.gallery{
	margin:20px;
}


.gallery ul a.dim:hover img {
    opacity: 0.7;
            
}

.gallery li {
	display:inline-block;
	margin-left:55px;
	width: 25%;
}

.gallery li img{
	display:inline-block;
	width:100%;
	vertical-align:middle;
}

.gallery li img:hover{
	opacity:.6;
}

.padded{
	margin-top:20px;
	margin-bottom:20px;
}

#capital-one, #principal, #cmu, #green-america, #nist{
	height:50px;
}

